:root {
  --brand-background: rgb(221, 237, 252);
  --brand-color: rgb(6, 54, 70);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-background: rgb(11, 7, 53);
    --brand-color: rgb(223, 229, 235);
  }
}

html,
body {
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--brand-background);
  color: var(--brand-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
